<div class="person-details-wrapper">
    <div class="modal-close-btn" ng-click="personDetails.cancel()">Close</div>
    <div class="person-details-overview">
        <img ng-src="{{personDetails.person.MainImage}}">
        <h1>{{personDetails.person.Name}}</h1>
        <div>{{personDetails.person.Relationship}}</div>
        <div>{{personDetails.person.Address}}</div>
        <div>{{personDetails.person.Phone}}</div>
        <div>{{personDetails.person.Birthday | monthDayYear}}</div>
    </div>
    <div class="person-memories">
        <h2>Memories</h2>
        <ul class="memory-list">
            <li ng-repeat="(id,memory) in personDetails.memories">
                <div>{{memory.Message}}</div>
            </li>
        </ul>
    </div>
    <div class="person-notes">
        <h2>Notes</h2>
        <ul class="note-list">
            <li ng-repeat="(id,note) in personDetails.notes">
                <div>{{note.Message}}</div>
            </li>
        </ul>
    </div>
    <div class="person-images">
        <h2>Images</h2>
        <ul class="image-list">
            <li ng-repeat="(id,image) in personDetails.images">
                <img ng-src="{{image.ImageLink}}" />
                <div>{{image.Caption}}-{{image.DateOfImage}}</div>
            </li>
        </ul>

    </div>

</div>