<div class="people-list-wrapper">
    <h1>People</h1>
    <accordion>
        <accordion-group>
            <accordion-heading>
                Add New Person 
            </accordion-heading>
            <form name="people-list-add-form" ng-submit="people.addNewPerson()">
                <div class="form-group">
                    <label class="control-label">Relationship Type: </label>
                    <select ng-model="people.newPerson.RelationshipType">
                        <option value="Family">Family</option>
                        <option value="Friend">Friend</option>
                        <option value="Business">Business</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div>
                    <label class="control-label">Relationship: </label>
                    <input type="text" class="form-control" ng-model="people.newPerson.Relationship" />
                </div>
                <div>
                    <label class="control-label">Name: </label>
                    <input type="text" class="form-control" ng-model="people.newPerson.Name" />
                </div>
                <div class="form-group">
                    <label class="control-label">Address: </label>
                    <input type="text" class="form-control" ng-model="people.newPerson.Address" />
                </div>
                <div class="form-group">
                    <label class="control-label">Phone: </label>
                    <input type="text" class="form-control" ng-model="people.newPerson.Phone" />
                </div>
                <div class="form-group">
                    <label class="control-label">Birthday: </label>
                    <datepicker ng-model="people.newPerson.Birthday" min-date="minDate" show-weeks="true"></datepicker>
                </div>
                <div class="form-group">
                    <label class="control-label">Upload Image: </label>
                    <img ng-show="people.files[0].dataUrl" ng-src="{{people.files[0].dataUrl}}" />
                    <input type="file" ng-model="people.files" ng-file-select ng-file-change="people.fileSelected($event)" accept="images/*" />
                </div>
                <input class="btn" type="submit" value="Add Person">
            </form>
            <button class="btn" ng-click="people.clearForm()">Clear</button>
        </accordion-group>
    </accordion>
    <div class="people-options row">
        <div class="col-md-2">
            <a href="/App/#/People/All" class="btn">All</a>
        </div>
        <div class="col-md-2">
            <a href="/App/#/People/Family" class="btn">Family</a>
        </div>
        <div class="col-md-2">
            <a href="/App/#/People/Friends" class="btn">Friends</a>
        </div>
        <div class="col-md-2">
            <a href="/App/#/People/Business" class="btn">Business</a>
        </div>
        <div class="col-md-2">
            <a href="/App/#/People/Other" class="btn">Other</a>
        </div>
    </div>
</div>

