<div class="person-details-wrapper">
    <div class="modal-close-btn" ng-click="personDetails.cancel()">Close</div>
    <div class="person-details-overview">
        <img ng-src="{{personDetails.person.MainImage}}">
        <div>{{personDetails.person.Name}}</div>
        <div>{{personDetails.person.Relationship}}</div>
        <div>{{personDetails.person.Address}}</div>
        <div>{{personDetails.person.Phone}}</div>
        <div>{{personDetails.person.Birthday | monthDayYear}}</div>
    </div>
    <div class="person-memories">
        <ul class="memory-list">
            <li ng-repeat="(id,memory) in personDetails.memories">
                <div>{{memory.Message}}</div>
            </li>
        </ul>
    </div>
    <div class="person-notes"></div>
    <div class="person-images"></div>

</div>