@{
    ViewBag.Title = "Home Page";
}

<div class="landing-container">
    <div class="first-landing-row">
        <div class="col-md-3"><img src="~/Content/Images/memory-tree-cropped.jpg" /></div>
        <div class="col-md-5">
            <h2>Remember It All</h2>
            <p>Recollection is a simple app for those with earyl-stag Alzheimers' and Dementia that keeps track of memories, people and places that are important to you. An easy-to-use interface makes it simple to add the people and places that are important to you.</p>
        </div>
        <div class="home-links-wrapper col-md-4">
            <h2>Get Started</h2>
            <p>To start collecting your memories @Html.ActionLink("Register Here", "Register", "Account")</p>
            <p>Already have a profile? @Html.ActionLink("Login Here","Login","Account")</p>
            <p>Already Logged In? Go To @Html.ActionLink("My Recollection App","Index","App")</p>
        </div>
    </div>
</div>