.list-wrapper {
    padding-left: 10px;

        h1 {
            padding-left: 10px;
        }

    .list {
        list-style-type: none;
        text-align: center;
        margin-top: 10px;

        .list-img {
            max-height: 200px;
            max-width: 100%;
        }

        .list-item-name {
            color: white;
            background: #222222;
        }

        li {
            padding-top: 10px;
            position: relative;
        }

        li:nth-child(4n+1) {
        clear: left;
        }

        .delete-btn {
            @include delete-shape;
        }
    }
}

.img-wrapper {
    width: 100%;
    background: #ccc;
    border: 3px solid #222;
}