.list-wrapper {
    padding-left: 10px;

        h1 {
            padding-left: 10px;
        }

    .list {
        list-style-type: none;
        text-align: center;
        margin-top: 10px;

        .list-img {
            max-width: 100%;
            border: 5px #222222 solid; 
        }

        .list-item-name {
            color: white;
            background: #222222;
        }

        li {
            padding-top: 10px;
        }

        li:nth-child(4n+1) {
        clear: left;
        }
    }


}