.person-details-wrapper {
    .modal-edit-btn {
        @include edit-shape;
        float: right;
        position: absolute;
        right: 50px;
        z-index: 1000;
    }

    .details-delete {
        background: #C23F38;
        padding: 3px 5px;
        border-radius: 19px;
        color: white;
        z-index: 1000;
    }

    .person-details {
    }

    .close {
        @include close-btn
    }
    padding: 10px;
    img {
        @include image-style;
    } 

    ul {
        margin-top: 10px;
        margin-bottom: 10px;

        li {
            padding-top: 10px;
            position: relative;

            span {
                float:right;
            }
        }

        li:nth-child(3n+1) {
            clear: left;
            img {
                max-height: 180px;
            }
        }
    }

    .form-btn {
        display: inline-block;
        padding-left: 10px;
        margin-top: 10px;
    } 
}

@media screen and (min-width: 768px) {
    .modal-dialog {
      width: 800px;
    }
}