/* GLOBAL VARIABLES */
/* IMPORT */
body, .main-menu {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%; }

body {
  background: #E8E8E8; }

ul {
  list-style-type: none; }

nav ul {
  -webkit-padding-start: 0;
  padding-left: 10px; }

.body-content .landing-container {
  width: 100%;
  height: auto;
  padding: 10px; }

.account-wrapper {
  padding: 10px; }

.ang-container {
  overflow: hidden;
  background: #222222; }
  .ang-container .side-nav {
    background: #222222;
    height: 100%; }
    .ang-container .side-nav ul {
      list-style-type: none;
      padding-top: 20px; }
      .ang-container .side-nav ul li {
        padding-bottom: 10px;
        font-size: 2em; }
        .ang-container .side-nav ul li a {
          color: #fff; }

.app-wrapper {
  background: #fff;
  min-height: 400px; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

.main-menu {
  background: url("Images/landing-header(2).jpg") no-repeat;
  height: 240px; }

.nav-bar {
  border-radius: 0; }

.navbar-inverse {
  border: none; }
  .navbar-inverse h1 {
    float: left;
    background: rgba(128, 128, 128, 0.7);
    margin: 20px;
    color: white;
    font-size: 70px; }
  .navbar-inverse .login-modal {
    float: right;
    background: rgba(128, 128, 128, 0.6);
    -webkit-padding-start: 0;
    margin-top: 10px;
    margin-right: 20px; }

.navbar-inverse .navbar-nav > li > a {
  color: white; }

.body-content {
  background: white; }

.dashboard-container {
  padding: 15px; }
  .dashboard-container form {
    margin: 20px 0; }
    .dashboard-container form input {
      display: inline-block; }
  .dashboard-container .search-term {
    font-weight: 700;
    font-size: 1.5em; }

.list-wrapper, .search-place-container, .search-people-container {
  padding-left: 10px; }
  .list-wrapper h1, .search-place-container h1, .search-people-container h1 {
    padding-left: 10px; }
  .list-wrapper .list, .search-place-container .list, .search-people-container .list {
    list-style-type: none;
    text-align: center;
    margin-top: 10px; }
    .list-wrapper .list .list-img, .search-place-container .list .list-img, .search-people-container .list .list-img {
      max-height: 200px;
      max-width: 100%; }
    .list-wrapper .list .list-item-name, .search-place-container .list .list-item-name, .search-people-container .list .list-item-name {
      color: white;
      background: #222222; }
    .list-wrapper .list li, .search-place-container .list li, .search-people-container .list li {
      padding-top: 10px;
      position: relative; }
    .list-wrapper .list li:nth-child(4n+1), .search-place-container .list li:nth-child(4n+1), .search-people-container .list li:nth-child(4n+1) {
      clear: left; }
    .list-wrapper .list .delete-btn, .search-place-container .list .delete-btn, .search-people-container .list .delete-btn {
      background: #666666;
      padding: 5px 10px;
      border-radius: 50%;
      color: white;
      font-weight: 700;
      position: absolute;
      right: 0;
      top: 0px; }

.img-wrapper {
  width: 100%;
  background: #ccc;
  border: 3px solid #222; }

.add-place-form img {
  max-width: 100%;
  max-height: 400px; }

.person-details-wrapper, .place-details-wrapper {
  padding: 10px; }
  .person-details-wrapper .modal-edit-btn, .place-details-wrapper .modal-edit-btn {
    background: #666;
    padding: 5px;
    border-radius: 10px;
    color: white;
    z-index: 1000;
    float: right;
    position: absolute;
    right: 50px;
    z-index: 1000; }
  .person-details-wrapper .edit-btn, .place-details-wrapper .edit-btn {
    position: absolute;
    right: 65%; }
  .person-details-wrapper .edit-form, .place-details-wrapper .edit-form {
    margin: 10px 0; }
  .person-details-wrapper .details-delete, .place-details-wrapper .details-delete {
    background: #C23F38;
    padding: 3px 5px;
    border-radius: 19px;
    color: white;
    z-index: 1000; }
  .person-details-wrapper .img-caption, .place-details-wrapper .img-caption {
    background: #222;
    color: white;
    padding: 3px;
    text-align: center; }
  .person-details-wrapper .close, .place-details-wrapper .close {
    background: #222222;
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    float: right;
    position: absolute;
    right: 10px;
    z-index: 1000; }
  .person-details-wrapper img, .place-details-wrapper img {
    border: 3px solid #222222;
    max-width: 100%; }
  .person-details-wrapper ul, .place-details-wrapper ul {
    margin-top: 10px;
    margin-bottom: 10px; }
    .person-details-wrapper ul li, .place-details-wrapper ul li {
      padding-top: 20px;
      padding-bottom: 20px;
      position: relative; }
      .person-details-wrapper ul li span, .place-details-wrapper ul li span {
        float: right; }
      .person-details-wrapper ul li .details-edit, .place-details-wrapper ul li .details-edit {
        background: #666;
        padding: 5px;
        border-radius: 10px;
        color: white;
        z-index: 1000;
        position: relative;
        right: 60px; }
    .person-details-wrapper ul li:nth-child(3n+1), .place-details-wrapper ul li:nth-child(3n+1) {
      clear: left; }
      .person-details-wrapper ul li:nth-child(3n+1) img, .place-details-wrapper ul li:nth-child(3n+1) img {
        max-height: 180px; }
  .person-details-wrapper .form-btn, .place-details-wrapper .form-btn {
    display: inline-block;
    padding-left: 10px;
    margin-top: 10px; }
  .person-details-wrapper .img-delete, .place-details-wrapper .img-delete {
    background: #666666;
    padding: 5px 10px;
    border-radius: 50%;
    color: white;
    font-weight: 700;
    position: absolute;
    right: 0;
    top: 0px;
    border: none; }

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 800px; } }
.people-list-wrapper .people-options {
  margin-top: 20px; }
  .people-list-wrapper .people-options .btn-primary {
    border-color: #ccc;
    background: #222; }
  .people-list-wrapper .people-options .btn-primary:hover {
    background: #808080; }
.people-list-wrapper #add-person-form img {
  max-width: 100%;
  max-height: 400px; }

/*# sourceMappingURL=main.css.map */
